# Ignore virtual environment
venv/

# Ignore dataset folder
data/

# Ignore compiled Python files
__pycache__/
*.pyc

# Optional: Ignore font files
fonts/
*.ttf

# Optional: Ignore logs and databases
logger/db
*.log
*.db
